{% extends 'base.html' %}

{% block title %} Sign Up | Brique Energy{% endblock %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

  <section class="py-5">
    <div class="bg-light d-flex align-items-center justify-content-center">
        <div class="card shadow-lg w-100" style="max-width: 480px;">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="card-title h3">Sign Up</h1>
                    <p class="card-text text-muted">Sign up below to create a new account</p>
                </div>
                <div class="mt-4">
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <!-- <div class="mb-4">
                            <label for="email" class="form-label text-muted">Username</label>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required name="username">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label text-muted">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required name="password">
                        </div> -->
                        
                        {{ form.as_p }}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
                        </div>
                        <p class="text-center text-muted mt-4">Don't have an account yet?
                            <a href="{% url 'login' %}" class="text-decoration-none">Sign In</a>.
                        </p>
                    </form>
                </div>
            </div>
        </div>
        </div>
  </section>

{% endblock %}