{% extends 'base.html' %}

{% block title %} Update Password | Brique Energy{% endblock %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

  <section class="py-5">
    <div class="bg-light d-flex align-items-center justify-content-center">
        <div class="card shadow-lg w-100" style="max-width: 480px;">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="card-title h3">Password</h1>
                    <p class="card-text text-muted">Update the Password below</p>
                </div>
                <div class="mt-4">
                    <form method="POST" action="{% url 'update_password' %}">
                        {% csrf_token %}
                        
                        {{ form.as_p }}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg">Update Password</button>
                        </div>
                        <!-- <p class="text-center text-muted mt-4">Don't have an account yet?
                            <a href="{% url 'login' %}" class="text-decoration-none">Sign In</a>.
                        </p> -->
                    </form>
                </div>
            </div>
        </div>
        </div>
  </section>

{% endblock %}